.panel {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: min-content;
  max-width: 512px;
  color: #2a4365;

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;

    .logo__cms {
      color: #6ea4f0;
    }
  }

  .auth {
    background-color: rgba(255, 255, 255, 1);
    font-size: 20px;
    margin-top: 45px;
    padding: 0px 30px;
    padding-bottom: 25px;
    border-radius: 10px;
    max-width: 512px;
    display: flex;
    flex-direction: column;

    &__title {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 20px 0;
    }

    &__email-input,
    &__password-input {
      background-color: #edf2f7;
      border: none;
      border-radius: 5px;
      height: 70px;
      font-size: 24px;
      padding: 0px 15px;
    }

    &__forgot-sign {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-top: 40px;

      a {
        color: #3182ce;
        width: 100%;
        text-decoration: none;
      }

      .auth__sign-in-button {
        color: #ffffff;
        background-color: #2a4365;
        border: none;
        padding: 15px;
        width: 100%;
        font-size: 20px;
        border-radius: 5px;
      }
    }

    &__dont-have-account-button {
      color: #2a4365;
      background-color: #ffffff;
      border-color: #2a4365;
      border: 2px solid;
      border-radius: 5px;
      padding: 15px;
      margin-top: 40px;
      width: 100%;
      font-size: 20px;
    }
  }
}
